@* ============================================================================
   Archivo: NewEdit_Project.cshtml
   Proyecto: RH365.WebMVC
   Ruta: RH365/Views/Project/NewEdit_Project.cshtml
   Descripción: Formulario para Crear/Editar Proyectos con estilo Gentelella
   ============================================================================ *@
@{
    ViewData["Title"] = "Proyecto";
    string dataareaId = ViewBag.DataareaID ?? "DAT";
    long userRefRecID = ViewBag.UserRefRecID ?? 0L;
    long recId = ViewBag.RecID ?? 0L;
    bool isNew = ViewBag.IsNew ?? true;
    string bearer = Context.Session.GetString("Token") ?? "";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RH365 - @(isNew ? "Nuevo Proyecto" : "Editar Proyecto")</title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- PNotify CSS -->
    <link href="~/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <!-- Menú Lateral -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @await Html.PartialAsync("~/Views/Layout/TopMenuLogo.cshtml")
                    <div class="clearfix"></div>
                    @await Html.PartialAsync("~/Views/Layout/ProfileMenu.cshtml")
                    <br />
                    @await Html.PartialAsync("~/Views/Layout/MainMenu.cshtml")
                    @await Html.PartialAsync("~/Views/Layout/FooterMenu.cshtml")
                </div>
            </div>

            <!-- Top Navigation -->
            @await Html.PartialAsync("~/Views/Layout/TopMenu.cshtml")

            <!-- page content -->
            <div class="right_col" role="main"
                 id="project-form-page"
                 data-dataarea="@dataareaId"
                 data-user="@userRefRecID"
                 data-recid="@recId"
                 data-isnew="@isNew.ToString().ToLower()"
                 data-token="@Html.Raw(bearer)">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>@(isNew ? "Nuevo Proyecto" : "Editar Proyecto")</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Form -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Información del Proyecto</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a href="/Project/LP_Projects" class="btn btn-default btn-sm">
                                                <i class="fa fa-arrow-left"></i> Volver
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form id="frm-project" class="form-horizontal form-label-left">
                                        @Html.AntiForgeryToken()

                                        <!-- Hidden fields -->
                                        <input type="hidden" id="RecID" name="RecID" value="@recId" />
                                        <input type="hidden" id="DataareaID" name="DataareaID" value="@dataareaId" />

                                        <!-- Los campos se cargarán dinámicamente aquí -->
                                        <div id="dynamic-fields-container">
                                            <!-- Loading spinner mientras carga -->
                                            <div class="text-center" style="padding: 40px;">
                                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                                <p class="text-muted">Cargando formulario...</p>
                                            </div>
                                        </div>

                                        <div class="ln_solid"></div>

                                        <div class="form-group">
                                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                <button type="button" class="btn btn-default" onclick="window.location.href='/Project/LP_Projects'">
                                                    Cancelar
                                                </button>
                                                <button type="button" id="btn-save" class="btn btn-primary">
                                                    <i class="fa fa-save"></i> Guardar
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Form -->
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    RH365 - Sistema de Recursos Humanos © @DateTime.Now.Year
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- PNotify JS -->
    <script src="~/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    <!-- Deshabilitar notificaciones de demo de PNotify -->
    <script>
        (function() {
            if (typeof PNotify !== 'undefined') {
                // Configuración global para prevenir cualquier notificación automática
                PNotify.prototype.options.desktop = { desktop: false };

                // Remover todas las notificaciones inmediatamente
                PNotify.removeAll();

                // Observar el DOM para eliminar cualquier notificación que aparezca
                var observer = new MutationObserver(function(mutations) {
                    mutations.forEach(function(mutation) {
                        mutation.addedNodes.forEach(function(node) {
                            if (node.nodeType === 1 && node.classList &&
                                (node.classList.contains('ui-pnotify') || node.classList.contains('pnotify'))) {
                                // Si es una notificación de PNotify, eliminarla inmediatamente
                                var text = node.textContent || '';
                                if (text.includes('Welcome') || text.includes('hovering') || text.includes('non-blocking')) {
                                    node.remove();
                                }
                            }
                        });
                    });
                });

                // Observar el body por notificaciones añadidas
                observer.observe(document.body, {
                    childList: true,
                    subtree: true
                });

                // Limpiar después de 3 segundos (cuando ya todo debería estar cargado)
                setTimeout(function() {
                    observer.disconnect();
                    PNotify.removeAll();
                }, 3000);
            }
        })();
    </script>
    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>

    <!-- Sistema de Alertas -->
    @await Html.PartialAsync("~/Views/Generic/_Alerts.cshtml")

    <!-- Script del formulario de proyectos -->
    <script src="~/js/Projects/project-form.js"></script>
</body>
</html>