@* ============================================================================
   Archivo: NewEdit_Employee.cshtml
   Proyecto: RH365.WebMVC
   Ruta: RH365/Views/Employee/NewEdit_Employee.cshtml
   Descripcion: 
       - Formulario para Crear/Editar Empleados con estilo Gentelella
       - Layout de 3 COLUMNAS en Tab General
       - Tab Informacion Personal: 
           * Seccion 1 - DataTable con direcciones del empleado (CON campo Pais)
           * Seccion 2 - DataTable con contactos del empleado
           * Seccion 3 - DataTable con documentos del empleado (CON DueDate e IsPrincipal)
       - Tab Auditoria: Campos de trazabilidad ISO 27001 en 1 COLUMNA
   Estandar: ISO 27001 - Formularios con validacion y auditoria
   ============================================================================ *@
@{
    ViewData["Title"] = "Empleado";
    string dataareaId = ViewBag.DataareaID ?? "DAT";
    long userRefRecID = ViewBag.UserRefRecID ?? 0L;
    long recId = ViewBag.RecID ?? 0L;
    bool isNew = ViewBag.IsNew ?? true;
    string bearer = Context.Session.GetString("Token") ?? "";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RH365 - @(isNew ? "Nuevo Empleado" : "Editar Empleado")</title>

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <!-- PNotify CSS -->
    <link href="~/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <!-- Menu Lateral -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @await Html.PartialAsync("~/Views/Layout/TopMenuLogo.cshtml")
                    <div class="clearfix"></div>
                    @await Html.PartialAsync("~/Views/Layout/ProfileMenu.cshtml")
                    <br />
                    @await Html.PartialAsync("~/Views/Layout/MainMenu.cshtml")
                    @await Html.PartialAsync("~/Views/Layout/FooterMenu.cshtml")
                </div>
            </div>

            <!-- Top Navigation -->
            @await Html.PartialAsync("~/Views/Layout/TopMenu.cshtml")

            <!-- page content -->
            <div class="right_col" role="main"
                 id="employee-form-page"
                 data-dataarea="@dataareaId"
                 data-user="@userRefRecID"
                 data-recid="@recId"
                 data-isnew="@isNew.ToString().ToLower()"
                 data-token="@Html.Raw(bearer)">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>@(isNew ? "Nuevo Empleado" : "Editar Empleado")</h3>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Panel con Tabs -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <!-- Navegacion de Tabs -->
                                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                                    <i class="fa fa-user"></i> General
                                                </a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content2" role="tab" id="personal-tab" data-toggle="tab" aria-expanded="false">
                                                    <i class="fa fa-address-book"></i> Informacion Personal
                                                </a>
                                            </li>
                                            <li role="presentation" class="">
                                                <a href="#tab_content3" role="tab" id="audit-tab" data-toggle="tab" aria-expanded="false">
                                                    <i class="fa fa-history"></i> Auditoria
                                                </a>
                                            </li>
                                        </ul>

                                        <div id="myTabContent" class="tab-content">
                                            <!-- TAB 1: GENERAL -->
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <div class="x_title">
                                                                <h2>Informacion del Empleado</h2>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li>
                                                                        <a href="/Employee/LP_Employees" class="btn btn-default btn-sm">
                                                                            <i class="fa fa-arrow-left"></i> Volver
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="x_content">
                                                                <br />
                                                                <form id="frm-employee" class="form-horizontal form-label-left">
                                                                    @Html.AntiForgeryToken()
                                                                    <input type="hidden" id="RecID" name="RecID" value="@recId" />
                                                                    <input type="hidden" id="DataareaID" name="DataareaID" value="@dataareaId" />

                                                                    <div class="row">
                                                                        <div class="col-md-4" id="dynamic-fields-col-left">
                                                                            <div class="text-center" style="padding: 40px;">
                                                                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                                                                <p class="text-muted">Cargando...</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4" id="dynamic-fields-col-center">
                                                                            <div class="text-center" style="padding: 40px;">
                                                                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                                                                <p class="text-muted">Cargando...</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4" id="dynamic-fields-col-right">
                                                                            <div class="text-center" style="padding: 40px;">
                                                                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                                                                <p class="text-muted">Cargando...</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="ln_solid"></div>

                                                                    <div class="form-group">
                                                                        <div class="col-md-12 text-center">
                                                                            <button type="button" class="btn btn-default" onclick="window.location.href='/Employee/LP_Employees'">
                                                                                <i class="fa fa-times"></i> Cancelar
                                                                            </button>
                                                                            <button type="button" id="btn-save" class="btn btn-primary">
                                                                                <i class="fa fa-save"></i> Guardar
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <!-- TAB 2: INFORMACION PERSONAL (Direcciones + Contactos + Documentos) -->
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="personal-tab">
                                                
                                                <!-- SECCION 1: DIRECCIONES -->
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <div class="x_title">
                                                                <h2>
                                                                    <i class="fa fa-map-marker"></i> Direcciones del Empleado
                                                                </h2>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li>
                                                                        <button type="button" id="btn-new-address" class="btn btn-primary btn-sm">
                                                                            <i class="fa fa-plus"></i> Nueva Direccion
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button" id="btn-edit-address" class="btn btn-default btn-sm" disabled>
                                                                            <i class="fa fa-pencil"></i> Editar
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button" id="btn-delete-address" class="btn btn-danger btn-sm" disabled>
                                                                            <i class="fa fa-trash"></i> Eliminar
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="x_content">
                                                                <div id="addresses-info-container"></div>

                                                                <div class="table-responsive">
                                                                    <table id="employee-addresses-table" class="table table-striped table-bordered">
                                                                        <thead></thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- SECCION 2: CONTACTOS -->
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <div class="x_title">
                                                                <h2>
                                                                    <i class="fa fa-phone"></i> Informacion de Contacto
                                                                </h2>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li>
                                                                        <button type="button" id="btn-new-contact" class="btn btn-primary btn-sm">
                                                                            <i class="fa fa-plus"></i> Nuevo Contacto
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button" id="btn-edit-contact" class="btn btn-default btn-sm" disabled>
                                                                            <i class="fa fa-pencil"></i> Editar
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button" id="btn-delete-contact" class="btn btn-danger btn-sm" disabled>
                                                                            <i class="fa fa-trash"></i> Eliminar
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="x_content">
                                                                <div id="contacts-info-container"></div>

                                                                <div class="table-responsive">
                                                                    <table id="employee-contacts-table" class="table table-striped table-bordered">
                                                                        <thead></thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- SECCION 3: DOCUMENTOS -->
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <div class="x_title">
                                                                <h2>
                                                                    <i class="fa fa-id-card"></i> Documentos del Empleado
                                                                </h2>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li>
                                                                        <button type="button" id="btn-new-document" class="btn btn-primary btn-sm">
                                                                            <i class="fa fa-plus"></i> Nuevo Documento
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button" id="btn-edit-document" class="btn btn-default btn-sm" disabled>
                                                                            <i class="fa fa-pencil"></i> Editar
                                                                        </button>
                                                                    </li>
                                                                    <li>
                                                                        <button type="button" id="btn-delete-document" class="btn btn-danger btn-sm" disabled>
                                                                            <i class="fa fa-trash"></i> Eliminar
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="x_content">
                                                                <div id="documents-info-container"></div>

                                                                <div class="table-responsive">
                                                                    <table id="employee-documents-table" class="table table-striped table-bordered">
                                                                        <thead></thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>

                                                                <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            
                                            <!-- TAB 3: AUDITORIA -->
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="audit-tab">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="x_panel">
                                                            <div class="x_title">
                                                                <h2>
                                                                    <i class="fa fa-shield"></i> Informacion de Auditoria (ISO 27001)
                                                                </h2>
                                                                <ul class="nav navbar-right panel_toolbox">
                                                                    <li>
                                                                        <span class="label label-info">
                                                                            <i class="fa fa-lock"></i> Solo Lectura
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="x_content">
                                                                <br />
                                                                <form class="form-horizontal form-label-left">
                                                                    <div id="audit-fields-container">
                                                                        <div class="text-center" style="padding: 40px;">
                                                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                                                            <p class="text-muted">Cargando datos de auditoria...</p>
                                                                        </div>
                                                                    </div>

                                                                    <div class="ln_solid"></div>

                                                                    <div class="alert alert-info" role="alert">
                                                                        <strong><i class="fa fa-info-circle"></i> Nota:</strong>
                                                                        Los campos de auditoria son generados automaticamente por el sistema
                                                                        y no pueden ser modificados manualmente. Estos datos garantizan la
                                                                        trazabilidad completa segun el estandar ISO 27001.
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    RH365 - Sistema de Recursos Humanos © @DateTime.Now.Year
                </div>
                <div class="clearfix"></div>
            </footer>
        </div>
    </div>

    <!-- MODAL: CREAR/EDITAR DIRECCION (CON CAMPO PAIS) -->
    <div class="modal fade" id="modal-address" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-map-marker"></i> 
                        <span id="modal-address-title">Nueva Direccion</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="frm-address" class="form-horizontal form-label-left">
                        <input type="hidden" id="address-RecID" name="RecID" value="0" />
                        <input type="hidden" id="address-EmployeeRefRecID" name="EmployeeRefRecID" value="@recId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Pais <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <select id="address-CountryRefRecID" name="CountryRefRecID" class="form-control" required>
                                            <option value="">-- Seleccione --</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Provincia <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="address-Province" name="Province" class="form-control" maxlength="100" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Ciudad <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="address-City" name="City" class="form-control" maxlength="100" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Sector
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="address-Sector" name="Sector" class="form-control" maxlength="100">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Direccion Principal
                                    </label>
                                    <div class="col-md-8">
                                        <input type="checkbox" id="address-IsPrincipal" name="IsPrincipal" class="flat">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Calle
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="address-Street" name="Street" class="form-control" maxlength="200">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Casa/Apto
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" id="address-Home" name="Home" class="form-control" maxlength="50">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4">
                                        Comentarios
                                    </label>
                                    <div class="col-md-8">
                                        <textarea id="address-Comment" name="Comment" class="form-control" rows="5" maxlength="500"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-save-address">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL: CREAR/EDITAR CONTACTO -->
    <div class="modal fade" id="modal-contact" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-phone"></i> 
                        <span id="modal-contact-title">Nuevo Contacto</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="frm-contact" class="form-horizontal form-label-left">
                        <input type="hidden" id="contact-RecID" name="RecID" value="0" />
                        <input type="hidden" id="contact-EmployeeRefRecID" name="EmployeeRefRecID" value="@recId" />

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Tipo de Contacto <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select id="contact-ContactType" name="ContactType" class="form-control" required>
                                    <option value="">-- Seleccione --</option>
                                    <option value="0">Celular</option>
                                    <option value="1">Correo</option>
                                    <option value="2">Telefono</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Valor <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="contact-ContactValue" name="ContactValue" 
                                       class="form-control" maxlength="200" required 
                                       placeholder="Ej: 809-555-1234 o email@ejemplo.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Contacto Principal
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="checkbox" id="contact-IsPrincipal" name="IsPrincipal" class="flat">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Comentario
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <textarea id="contact-Comment" name="Comment" 
                                          class="form-control" rows="3" maxlength="500"
                                          placeholder="Comentarios adicionales..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-save-contact">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL: CREAR/EDITAR DOCUMENTO -->
    <div class="modal fade" id="modal-document" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">
                        <i class="fa fa-id-card"></i> 
                        <span id="modal-document-title">Nuevo Documento</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="frm-document" class="form-horizontal form-label-left">
                        <input type="hidden" id="document-RecID" name="RecID" value="0" />
                        <input type="hidden" id="document-EmployeeRefRecID" name="EmployeeRefRecID" value="@recId" />

                        <!-- Tipo de Documento -->
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Tipo de Documento <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <select id="document-DocumentType" name="DocumentType" class="form-control" required>
                                    <option value="">-- Seleccione --</option>
                                    <option value="0">Cedula</option>
                                    <option value="1">Pasaporte</option>
                                    <option value="2">Residencia</option>
                                    <option value="3">Licencia de conducir</option>
                                </select>
                            </div>
                        </div>

                        <!-- Numero de Documento -->
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Numero <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" id="document-DocumentNumber" name="DocumentNumber" 
                                       class="form-control" maxlength="50" required 
                                       placeholder="Ej: 001-1234567-8">
                            </div>
                        </div>

                        <!-- Fecha de Vencimiento -->
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Fecha Vencimiento
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="date" id="document-DueDate" name="DueDate" class="form-control">
                            </div>
                        </div>

                        <!-- Documento Principal -->
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Documento Principal
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="checkbox" id="document-IsPrincipal" name="IsPrincipal" class="flat">
                            </div>
                        </div>

                        <!-- Comentarios -->
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">
                                Comentario
                            </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <textarea id="document-Comment" name="Comment" 
                                          class="form-control" rows="3" maxlength="500"
                                          placeholder="Comentarios adicionales..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-times"></i> Cancelar
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-save-document">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <!-- PNotify JS -->
    <script src="~/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Deshabilitar notificaciones de demo de PNotify -->
    <script>
        (function() {
            if (typeof PNotify !== 'undefined') {
                PNotify.prototype.options.desktop = { desktop: false };
                PNotify.removeAll();
                var observer = new MutationObserver(function(mutations) {
                    mutations.forEach(function(mutation) {
                        mutation.addedNodes.forEach(function(node) {
                            if (node.nodeType === 1 && node.classList &&
                                (node.classList.contains('ui-pnotify') || node.classList.contains('pnotify'))) {
                                var text = node.textContent || '';
                                if (text.includes('Welcome') || text.includes('hovering') || text.includes('non-blocking')) {
                                    node.remove();
                                }
                            }
                        });
                    });
                });
                observer.observe(document.body, {
                    childList: true,
                    subtree: true
                });
                setTimeout(function() {
                    observer.disconnect();
                    PNotify.removeAll();
                }, 3000);
            }
        })();
    </script>

    <!-- Custom Theme Scripts -->
    <script src="~/build/js/custom.min.js"></script>
    @await Html.PartialAsync("~/Views/Layout/_ApiUrls.cshtml")
    @await Html.PartialAsync("~/Views/Generic/_Alerts.cshtml")
    @await Html.PartialAsync("~/Views/Generic/_Modal.cshtml")

    <!-- Scripts de empleados -->
    <script src="~/js/Employees/employee-form.js"></script>
    <script src="~/js/Employees/employee-addresses.js"></script>
    <script src="~/js/Employees/employee-contacts.js"></script>
    <script src="~/js/Employees/employee-documents.js"></script>
</body>
</html>
